
@media print {
  *, :after, :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

    a[href]:after {
      content: " (" attr(href) ")";
    }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  blockquote, pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img, tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2, h3, p {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }

  .btn > .caret, .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

    .table td, .table th {
      background-color: #fff !important;
    }

  .table-bordered td, .table-bordered th {
    border: 1px solid #ddd !important;
  }
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table !important;
  }

  tr.visible-print {
    display: table-row !important;
  }

  td.visible-print, th.visible-print {
    display: table-cell !important;
  }
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
    line-height: 34px;
  }

  .input-group-sm input[type=date], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], .input-group-sm input[type=time], input[type=date].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm, input[type=time].input-sm {
    line-height: 30px;
  }

  .input-group-lg input[type=date], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], .input-group-lg input[type=time], input[type=date].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg, input[type=time].input-lg {
    line-height: 46px;
  }
}

@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

@media all and (transform-3d),(-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

    .carousel-inner > .item.active.right, .carousel-inner > .item.next {
      left: 0;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);
    }

    .carousel-inner > .item.active.left, .carousel-inner > .item.prev {
      left: 0;
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
    }

      .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right {
        left: 0;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
}

@media screen and (max-width:480px) {
  .ed-ad-dec p {
    max-height: 5.2em !important;
  }

  .F-26 {
    font-size: 18px !important;
  }

  .ed-advan ul li {
    padding: 10px 0 !important;
  }

  .pd-20 {
    padding: 0 !important;
  }

  .Wdt-200 {
    width: 220px;
    margin-bottom: 15px;
  }

  .p-flippr {
    padding: 20px 0 !important;
  }

  .fnt-15 {
    font-size: 15px !important;
  }

  .Founder2 {
    text-align: left !important;
  }

  .T-R {
    text-align: left !important;
  }

  .Founder h4 {
    font-size: 11px !important;
    letter-spacing: 0;
  }

  .Founder2 h4 {
    font-size: 11px !important;
    letter-spacing: 0;
  }

  .Wdt-A {
    width: 100% !important;
    margin: 0 !important;
  }

  .pad-40-60 {
    padding: 0;
  }

  .ed-flag {
    top: 32px !important;
  }

  .ed-rsear-dec a h4 {
    font-size: 15px !important;
  }

  .ed-rsear-img img {
    display: none !important;
  }

  .ed-flag span {
    font-size: 14px !important;
  }

  .ed-rsear-dec span {
    font-size: 14px !important;
  }

  .orphanheading {
    font-size: 15px;
  }

  .con-title h1 span {
    font-size: 26px;
  }

  .con-title h1 {
    font-size: 26px;
  }

  .con-title p {
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
  }

  .tableizer-table thead th {
    font-size: 11px !important;
    padding: 5px !important;
  }

  .con-title h2 span {
    font-size: 25px !important;
  }

  .ed-faci-full-bot p {
    height: 80.6px !important;
  }

  #customers td, #customers th {
    padding: 5px !important;
  }

  .card-counter i {
    display: none !important;
  }

  .card-counter .count-numbers {
    top: 5px !important;
    font-size: 21px !important;
  }

  .card-counter .count-name {
    top: 35px !important;
    font-size: 16px !important;
  }

  a, label, li, p, table, td, th, tr {
    font-size: 12px !important;
    line-height: 22px !important;
  }

  .bot-gal h4 {
    font-size: 14px !important;
  }

  .Section_borderleft_icon {
    padding: 2px 10px 30px 32px !important;
  }

  .schlr-img img {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }

  .shclr-ul ul li {
    width: 100% !important;
  }

  .ed-com-t1-left {
    padding-left: 0;
  }

  .h-gal_toper ul li {
    width: 99.333%;
  }

  .carousel-inner {
    margin-top: 55px;
  }

  .wed-logo a img {
    width: 46px !important;
    margin-top: 0;
    position: unset;
  }

  .wed-hom-ser ul li a {
    width: 62px;
    height: 62px;
    display: block;
    padding: 10px 2px 38px 2px;
    line-height: 10px;
  }

  .man-drop ul li {
    width: 98%;
  }

  .quote-title h2 {
    font-size: 42px;
  }

  .sf-submit input {
    font-size: 12px;
    padding: 15px 4px;
  }

  .carousel-caption {
    right: 10%;
    left: 10%;
    top: 0;
    padding-bottom: 30px;
  }

  .slider-con h2 {
    font-size: 11px;
    margin-top: -10px;
    line-height: 14px;
  }

    .slider-con h2 span {
      font-size: 14px;
    }

  .slider-con p {
    font-size: 16px;
  }

  .slider-con p {
    margin-top: -6px;
    font-size: 9px;
    line-height: 14px;
    text-align: center !important;
  }

  .slider-con a {
    display: inline-flex;
    width: 34%;
    padding: 0 0 0 6%;
    height: 30px;
    margin-top: -6px;
    font-size: 10px;
    line-height: 26px;
  }

  .home-top-cour img {
    width: 100%;
  }
}

@media all and (max-width:480px) {
  .bookmarked-job-info > h4.flex, .bookmarked-job-wrapper .bookmarked-job {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bookmarked-job-info h4 .button {
    margin: 0;
    margin-bottom: 5px;
  }

  .bookmarked-job .job-company-icon {
    margin-bottom: 10px;
  }

  .bookmarked-job-info-bottom .bookmarked-job-meta {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .bookmarked-job-meta .candidates-avatar {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
  }

  .bookmarked-job-meta > ul > li {
    margin-left: -10px;
    float: left;
    margin-top: 0;
  }

  .bookmarked-job-info .right-side-bookmarked-job-meta {
    margin-top: 5px;
  }

  .bookmarked-job-meta .bookmarked-job-category:after, .bookmarked-job-meta .hourly-rate:before {
    content: none;
  }

  .bookmarked-job-meta .bookmarked-job-category, .bookmarked-job-meta .candidate-location, .bookmarked-job-meta .hourly-rate {
    line-height: 20px;
  }

  .bookmarked-job-meta .candidate-location {
    margin-right: 18px;
  }

  .bookmarked-job-meta .hourly-rate {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width:200px) and (max-width:480px) {
  .modal-title {
    font-size: 14px !important;
  }

  .bot-gal h5 {
    font-size: 12px !important;
    line-height: 20px !important;
    letter-spacing: 0 !important;
  }

  .w-h {
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width:550px) {


  .schlr-img img {
    width: 100% !important;
    height: 100% !important;
  }

  .shclr-ul ul li {
    width: 100% !important;
  }

  .maincontainer {
    padding-left: 8%;
    padding-right: 7%;
  }

  .carousel-caption {
    right: 10%;
    left: 10%;
    top: 5%;
    padding-bottom: 30px;
  }

  .slider-con h2 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
  }

    .slider-con h2 span {
      font-size: 24px;
      line-height: 24px;
    }

  .slider-con p {
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
  }

  .slider-con a {
    display: inline-flex;
    width: 34%;
    padding: 0 0 0 10%;
    height: 30px;
    margin-top: 16px;
    font-size: 10px;
    line-height: 26px;
  }

  .pro-menu ul li {
    width: 100%;
  }

  .ed-rsear-dec a span {
    font-size: 10px;
  }

  .ed-rsear-dec a {
    font-size: 10px;
  }

  .ed-rsear-dec h4 a {
    font-size: 12px;
  }

  .ed-rsear-dec {
    padding: 8px 15px;
  }

  .con-title h2 span {
    font-size: 25px !important;
  }

  .ed-rsear-img img {
    width: 70px;
  }

  .Section_borderleft_icon {
    padding: 2px 10px 30px 32px !important;
  }

  .bot-gal h4 {
    font-size: 14px !important;
  }

  a, label, li, p, table, td, th, tr {
    font-size: 12px !important;
    line-height: 22px;
  }

  #customers td, #customers th {
    padding: 5px !important;
  }

  .card-counter i {
    display: none !important;
  }

  .card-counter .count-numbers {
    top: 5px !important;
    font-size: 21px !important;
  }

  .card-counter .count-name {
    top: 35px !important;
    font-size: 16px !important;
  }

  .tableizer-table thead th {
    font-size: 11px !important;
    padding: 5px !important;
  }

  .con-title p {
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
  }

  .ed-flag span {
    font-size: 14px !important;
  }

  .ed-rsear-dec {
    font-size: 14px !important;
  }

  .ed-flag {
    top: 32px !important;
  }

  .pad-40-60 {
    padding: 0;
  }

  .Wdt-A {
    width: 100% !important;
    margin: 0 !important;
  }

  .Founder h4 {
    font-size: 11px !important;
    letter-spacing: 0;
  }

  .Founder2 h4 {
    font-size: 11px !important;
    letter-spacing: 0;
  }

  .T-R {
    text-align: left !important;
  }

  .Founder2 {
    text-align: left !important;
  }

  .fnt-15 {
    font-size: 15px !important;
  }

  .p-flippr {
    padding: 20px 0 !important;
  }

  .Wdt-200 {
    width: 220px;
    margin-bottom: 15px;
  }

  .pd-20 {
    padding: 0 !important;
  }

  .ed-advan ul li {
    padding: 10px 0 !important;
  }

  .F-26 {
    font-size: 18px !important;
  }

  .ed-ad-dec p {
    max-height: 5.2em !important;
  }
}

@media screen and (min-width:600px) {
  .wed-logo a img {
    width: 100px !important;
    padding: 0px 0px 0px 0px;
    position: absolute;
    z-index: 10;
    left: -10%;
    right: auto;
    background-color: white;
    border-radius: 50%;
  }
}

@media all and (max-width:600px) {
  .bookmarked-job-meta .candidates-avatar {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
  }

  .bookmarked-job-meta > ul > li {
    margin: 0;
    margin-top: -10px;
  }
}

@media screen and (max-width:600px) {
  #accordionatd .panel-body p {
    padding-left: 0 !important;
  }

  #accordionatd .panel-body {
    padding: 5px 5px 5px 0 !important;
  }

  #accordionatd .panel-title a {
    font-size: 12px !important;
  }

  .panel-body ul {
    padding: 0 !important;
  }

  .card-body h4 {
    font-size: 14px !important;
    margin-top: 10px !important;
  }

  .panel-lefttitle {
    font-size: 16px !important;
  }

  #accordionMansehra .panel-body p {
    padding-left: 0 !important;
  }

  #accordionMansehra .panel-body {
    padding: 5px 5px 5px 0 !important;
  }

  #accordionMansehra .panel-title a {
    font-size: 15px !important;
  }

  .mb-20 {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
  }

  .aDetail i {
    display: none;
  }

  .card-nav-tabs .card-body {
    padding: 15px 5px !important;
  }

  .panel-rightbody h5 {
    font-size: 11px;
  }

  .panel-rightbody span {
    font-size: 11px;
  }

  .panel-rightbody {
    padding: 5px 5px;
    margin-top: 15px;
  }

  .pull-right .btn-warning {
    margin-bottom: 5px;
  }

  .pull-right .btn-maroon {
    margin-bottom: 5px;
  }

  .Section_bordertop_icon {
    padding: 20px 15px 100px 15px !important;
  }

  #accordion .panel-title a {
    font-size: 12px !important;
  }

  #accordion .panel-body {
    padding: 5px 0 5px 0 !important;
  }
}

@media (min-width:768px) {
  .lead {
    font-size: 18px;
  }
}

@media (min-width:768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }
}

@media (min-width:768px) {
  .container {
    width: 698px;
  }

  .fb-widget-right {
    height: 700px;
    position: relative;
    overflow: auto;
  }
}

@media (min-width:768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .form-control-static {
    display: inline-block;
  }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }

    .form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
      width: auto;
    }

    .form-inline .input-group > .form-control {
      width: 100%;
    }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .checkbox, .form-inline .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

    .form-inline .checkbox label, .form-inline .radio label {
      padding-left: 0;
    }

    .form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
      position: relative;
      margin-left: 0;
    }

  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

@media (min-width:768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width:768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
  }
}

@media (min-width:768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}

@media (min-width:768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

@media (min-width:768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

@media (min-width:768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

    .nav-tabs.nav-justified > li > a {
      margin-bottom: 0;
    }
}

@media (min-width:768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}

@media (min-width:768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

    .nav-justified > li > a {
      margin-bottom: 0;
    }
}

@media (min-width:768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}

@media (min-width:768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width:768px) {
  .navbar-header {
    float: left;
  }
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

    .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: visible;
    }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width:768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}

@media (min-width:768px) {
  .navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
  }
}

@media (min-width:768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

    .navbar-nav > li {
      float: left;
    }

      .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
}

@media (min-width:768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .navbar-form .form-control-static {
    display: inline-block;
  }

  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
      width: auto;
    }

    .navbar-form .input-group > .form-control {
      width: 100%;
    }

  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .checkbox, .navbar-form .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

    .navbar-form .checkbox label, .navbar-form .radio label {
      padding-left: 0;
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
      position: relative;
      margin-left: 0;
    }

  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}

@media (min-width:768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (min-width:768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width:768px) {
  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }

    .navbar-right ~ .navbar-right {
      margin-right: 0;
    }
}

@media (min-width:768px) {
  .modal-dialog {
    width: 70%;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  .modal-sm {
    width: 300px;
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #333;
      background-color: transparent;
    }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #555;
    background-color: #e7e7e7;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #ccc;
    background-color: transparent;
  }
}

@media (max-width:767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #fff;
      background-color: transparent;
    }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-color: #080808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #444;
    background-color: transparent;
  }
}

@media (max-width:767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table !important;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  td.visible-xs, th.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width:767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width:767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width:767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (max-width:767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
      padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px;
    }

      .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none;
      }
}

@media (max-width:767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }

    .navbar-form .form-group:last-child {
      margin-bottom: 0;
    }
}

@media (max-width: 768px) {
  .admission-list li a {
    position: initial;
    font-size: 12px !important;
  }
}

@media screen and (min-width:768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

  .jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
  }
}

@media screen and (min-width:768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -10px;
  }

  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
  }

  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }

  .carousel-indicators {
    bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .serviceBox {
    margin-bottom: 80px;
  }
}

@media screen and (max-width:767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

    .table-responsive > .table {
      margin-bottom: 0;
    }

      .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: nowrap;
      }

    .table-responsive > .table-bordered {
      border: 0;
    }

      .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child {
        border-left: 0;
      }

      .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child {
        border-right: 0;
      }

      .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0;
      }
}

@media screen and (max-width:767px) {
  .pad-40-60 {
    padding: 0;
  }

  .Wdt-A {
    width: 100% !important;
    margin: 0 !important;
  }

  .Founder h4 {
    font-size: 11px !important;
    letter-spacing: 0;
  }

  .Founder2 h4 {
    font-size: 11px !important;
    letter-spacing: 0;
  }

  .T-R {
    text-align: left !important;
  }

  .Founder2 {
    text-align: left !important;
  }

  .fnt-15 {
    font-size: 15px !important;
  }

  .p-flippr {
    padding: 20px 0 !important;
  }

  .Wdt-200 {
    width: 220px;
    margin-bottom: 15px;
  }

  .pd-20 {
    padding: 0 !important;
  }

  .ed-advan ul li {
    padding: 10px 0 !important;
  }

  .F-26 {
    font-size: 18px !important;
  }

  .ed-ad-dec p {
    max-height: 5.2em !important;
  }

  .schlr-img img {
    width: 100% !important;
    height: 100% !important;
  }

  .shclr-ul ul li {
    width: 25% !important;
  }

  .maincontainer {
    padding-left: 6%;
    padding-right: 4%;
  }

  .mob-hide {
    display: none;
  }

  .carousel-inner {
    margin-top: 50px;
  }

  .wed-logo a img {
    width: 75px !important;
    margin-top: 0;
    position: unset;
  }

  .wed-search-1 {
    width: 90%;
  }

  .wed-hom-ser ul li a {
    width: 75px;
    height: 75px;
    display: block;
    padding: 10px 2px 10px 2px;
    font-size: 8px;
  }

    .wed-hom-ser ul li a:hover {
      font-weight: 900;
      font-size: 7px;
      line-height: 10px;
      border: 2px solid #1d6745;
      border-top: 5px solid #1d6745;
    }

      .wed-hom-ser ul li a:hover i {
        font-size: 25px;
        padding: 8px;
        margin-bottom: 0;
      }

    .wed-hom-ser ul li a i {
      font-size: 30px;
      padding: 12px;
      margin-bottom: 0;
    }

  .web-search-form label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .wed-menu {
    float: right;
    padding-top: 14px;
    position: fixed;
    right: 0;
    top: 0;
  }

  .desk-hide {
    display: block;
    position: fixed;
    top: 9px;
    font-size: 17px;
    border: 1px solid #fff;
    padding: 3px 6px 0 6px;
    border-radius: 2px;
    background: #fff;
    color: #803e88;
    right: 22px;
    cursor: pointer;
  }

  .man-drop {
    position: fixed;
    left: 0;
    margin-left: 0;
    width: 100%;
    top: 29px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

    .man-drop ul li {
      width: 98%;
    }

    .man-drop:before {
      left: 94%;
    }

  .mob-cfw {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .s17-eve-time-tim {
    display: none;
  }

  .s17-eve-time-msg {
    width: 100%;
    padding-right: 20px;
  }

  .carousel-caption {
    right: 10%;
    left: 10%;
    top: 5%;
    padding-bottom: 30px;
  }

  .slider-con h2 {
    font-size: 22px;
    margin-top: -24px;
  }

    .slider-con h2 span {
      font-size: 32px;
    }

  .slider-con p {
    font-size: 16px;
  }

  .slider-con p {
    margin-top: -12px;
    line-height: 24px;
    text-align: center;
  }

  .slider-con a {
    display: inline-flex;
    width: 34%;
    padding: 0 0 0 10%;
    height: 30px;
    margin-top: 24px;
    font-size: 10px;
    line-height: 26px;
  }

  .cor-p5 ul li a span {
    display: none;
  }

  .sdb-cours ul li {
    width: 100%;
    padding-right: 0;
  }

    .sdb-cours ul li:nth-child(3) {
      margin-bottom: 15px;
    }

  .sdb-cl-class-tim {
    width: 100%;
    border-right: 0 solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .sdb-cl-class-name {
    width: 100%;
  }

  .new-con1 {
    height: auto;
  }

  .new-con h4 {
    margin-top: 35px;
  }

  .ed-ban-tit-31 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }

  .ed-ban-tit-32 {
    width: 100%;
  }

  .ed-ref-form-inn form ul li {
    width: 100%;
  }

  .pg-blog {
    width: 90%;
  }

  .ed-pho-gal ul li {
    float: left;
    width: 50%;
  }

  .ho-ev-date {
    width: 23%;
  }

  .ho-ev-link {
    width: 70%;
  }
}

@media screen and (max-width:800px) {
  .stats div {
    padding: 8px 0 !important;
    border-bottom: 1px solid #ebeff2 !important;
  }
}

@media screen and (max-width:860px) {
  .schlr-img img {
    width: 100% !important;
    height: 100% !important;
  }

  .shclr-ul ul li {
    width: 25% !important;
  }

  .slider-con p {
    margin-bottom: 15px;
    LINE-HEIGHT: 30px;
    margin-top: 12px;
  }

  .h-gal_toper ul li {
    width: 48.333%;
  }
}

@media screen and (max-width: 991px) {
  .our-team {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .serviceBox {
    margin-bottom: 30px;
  }

  .p {
    font-size: 9px;
  }
}

@media only screen and (max-width: 991px) {
  .testimonial {
    text-align: center;
  }

    .testimonial .pic {
      width: 200px;
      margin: 0 auto;
      float: none;
    }

      .testimonial .pic:before,
      .testimonial .pic:after {
        width: 80px;
        height: 100px;
      }

    .testimonial .testimonial-content {
      width: 100%;
      float: none;
    }

    .testimonial .title {
      padding: 15px 0 0 0;
    }

    .testimonial .post {
      padding: 0;
      margin-bottom: 10px;
    }
}

@media only screen and (max-width:991px) {
  #ServiceSchlr .serviceBox2 {
    margin: 0 0 30px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table !important;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  td.visible-sm, th.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media screen and (max-width:991px) {
  .maincontainer {
    padding-left: 1px;
    padding-right: 0;
  }

  .con-title {
    padding-top: 40px;
  }

  .col-sm-6 {
    margin-top: 60px;
  }

  .wed-logo a img {
    position: unset;
  }

  .ad-log-in {
    width: 80%;
    padding: 25px;
  }

  .ed-rsear-in ul li {
    width: 100%;
  }

  .web-search-form div input {
    margin-bottom: 0;
  }

    .web-search-form div input i {
      display: block;
    }

  .wed-search-1 {
    padding: 115px 0 50px 0;
  }

  .h-quote:before {
    width: 100%;
  }

  .admiss-form {
    padding: 0 30px;
    margin-top: 50px;
  }

    .admiss-form form label {
      color: #fff;
    }

  .help-arrow {
    display: none;
  }

  .semi-form {
    margin-top: 40px;
  }

  .semi-left {
    width: 100%;
    padding: 0;
  }

  .semi-right {
    width: 100%;
  }

  .pg-eve-reg {
    display: none;
  }

  .ho-ev-date {
    width: 23%;
  }

  .ho-ev-link {
    width: 68%;
  }

  .search-form {
    width: 100%;
  }

  .sf-list {
    width: 57.5%;
  }

  .sf-submit {
    width: 40%;
  }

  .sf-type {
    width: 60%;
  }

  .ed-com-t1-social {
    padding-top: 6px;
  }

  .ed-com-t1-left {
    padding-left: 90px;
  }

  .ed-top {
    margin-top: 54px;
    display: none;
  }

  .top-logo {
    display: none;
  }

  .ed-mob-menu {
    display: block;
  }

  .search-top {
    margin-top: 55px;
    border: 0;
  }

  .carousel {
    margin-top: 0;
  }

  .home-top-cour-desc h3 {
    margin-top: 0;
  }

  .ho-event-mob-bot-sp {
    margin-bottom: 50px;
  }

  .bb-link {
    margin-top: 15px;
  }

  .bb-img {
    margin-bottom: 15px;
  }

  .wed-foot-link div {
    position: relative;
    overflow: hidden;
    border-right: 0 groove #6a83a0;
  }

  .wed-foot-link {
    padding: 0;
    border: 0;
  }

    .wed-foot-link h4 {
      border-top: 1px groove #6a83a0;
      padding-top: 35px;
      margin-top: 35px;
    }

    .wed-foot-link .foot-tc-mar-t-o h4 {
      margin-top: 0;
    }

  .wed-hom-footer h4 {
    margin-top: 35px;
  }

  .wed-foot-link-1 {
    padding-top: 0;
  }

  .log-in-pop-left {
    width: 100%;
    padding: 7%;
  }

  .log-in-pop-right {
    width: 100%;
    padding: 7%;
  }

  .log-in-pop {
    width: 75%;
  }

  .modal-open .modal {
    width: 100%;
  }

  .carousel-caption {
    right: 20%;
    left: 20%;
    top: 10%;
    padding-bottom: 30px;
  }

  .slider-con h2 {
    font-size: 32px;
  }

    .slider-con h2 span {
      font-size: 32px;
    }

  .slider-con p {
    font-size: 16px;
  }

  .ed-advan ul li {
    width: 100%;
    background: #f5f5f5;
    border: 5px solid #fff !important;
    border-radius: 5px;
  }

    .ed-advan ul li:nth-child(1) {
      border: 0;
    }

    .ed-advan ul li:nth-child(2) {
      border: 0;
    }

    .ed-advan ul li:nth-child(3) {
      border: 0;
    }

    .ed-advan ul li:nth-child(4) {
      border: 0;
    }

    .ed-advan ul li:nth-child(5) {
      border: 0;
    }

    .ed-advan ul li:nth-child(6) {
      border: 0;
    }

  .pad-top-173 {
    padding-top: 120px;
  }

  .head-2 {
    margin-top: 0;
  }

  .head-2-inn {
    padding-top: 120px;
  }

  .pro-user {
    margin-top: 0;
  }

  .pro-menu ul li {
    width: 50%;
  }

  .pro-menu ul {
    margin-bottom: 0;
    margin-left: 0;
    padding: 20px 0;
  }

    .pro-menu ul li {
      width: 50%;
      display: block;
      float: left;
      box-sizing: border-box;
    }

      .pro-menu ul li a {
        padding: 0 20px;
        line-height: 53px;
        color: #fff;
        font-weight: 500;
        border: 1px solid #3a5d84;
        width: 98%;
        display: block;
        margin: 5px;
        box-sizing: border-box;
        text-align: center;
      }

  .sdb-cl-day {
    width: 100%;
    padding-bottom: 25px;
  }

  .udb {
    padding: 0;
    margin-top: 35px;
  }

  .sdb-cl-class {
    width: 100%;
  }

  .cor-p6 {
    margin-top: 0;
    position: relative;
    overflow: hidden;
  }

  .cor-side-com {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    width: 100%;
    margin-top: 40px;
  }

  .cor-p5 ul li a img {
    margin: 0 auto;
  }

  .cor-mid-img {
    margin-top: 50px;
  }

  .overlay-contact {
    width: 100%;
    padding: 35px 0;
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .contact-map iframe {
    height: 250px;
  }

  .new-con1 {
    height: 150px;
  }

  .ed-ban-tit {
    width: 100%;
    padding: 25px;
  }

  .ed-ref-form {
    width: 100%;
    padding-top: 25px;
    padding-left: 0;
  }

  .head-2-inn-padd-top {
    padding-top: 0;
  }
}

@media screen and (max-width:991px) {
  .schlr-img img {
    width: 100% !important;
    height: 100% !important;
  }

  .shclr-ul ul li {
    width: 30% !important;
  }

  .wed-hom-ser ul li a {
    width: 100%;
    height: 100%;
    display: block;
  }

  .top-News {
    width: 50% !important;
  }

  .h-600 {
    min-height: 460px !important;
  }

  .card-counter .count-name {
    top: 35px !important;
  }

  .card-counter .count-numbers {
    top: 10px !important;
  }
}

@media screen and (max-width:991px) {
  .m-top-10 {
    margin-top: 5px !important;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 5px !important;
  }
}

@media all and (max-width:991px) {
  .sort-by-wrapper.on-listing-page {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

    .sort-by-wrapper.on-listing-page .left-side-inner {
      margin-bottom: 15px;
    }
}

@media all and (max-width:991px) {
  .bookmarked-job-info .bookmarked-job-info-bottom {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bookmarked-job-info .right-side-bookmarked-job-meta {
    margin-top: 20px;
  }
}

@media (min-width:992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width:992px) {
  .container {
    width: 949px;
  }

  .fb-widget-right {
    height: 1000px;
    position: relative;
    overflow: auto;
  }
}

@media (min-width:992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media screen and (max-width:1075px) {
  .wed-logo a img {
    width: 120px !important;
    border-radius: 50%;
  }

  .Org-title {
    font-size: 22px !important;
    font-weight: 800 !important;
  }

  .Org-subtitle {
    font-size: 10px !important;
    font-weight: 600 !important;
  }

  .fnt-18 {
    font-size: 13px !important;
  }

  .main-menu {
    width: 65% !important;
  }

    .main-menu ul li a {
      padding: 15px 5px !important;
    }



  .card-counter .count-numbers {
    font-size: 18px !important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none !important;
  }

  .wed-logo .Org-title {
    font-size: 24px !important;
    font-weight: 800 !important;
  }

  .wed-logo .Org-subtitle {
    font-size: 10px !important;
    font-weight: 700 !important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table !important;
  }

  tr.visible-md {
    display: table-row !important;
  }

  td.visible-md, th.visible-md {
    display: table-cell !important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media screen and (max-width:1199px) {
  .ed-rsear-in {
    width: 100%;
  }
}

@media (min-width:1200px) {
  .container {
    width: 90%;
  }

  .fb-widget-right {
    height: 1430px;
    position: relative;
    overflow: auto;
  }
}

@media (min-width:1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }
}

@media (min-width:1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table !important;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  td.visible-lg, th.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width:1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width:1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width:1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width:1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media all and (max-width:1300px) {
  .bookmarked-jobs-list-wrapper.on-listing-page .bookmarked-job-wrapper, .sort-by-wrapper.on-listing-page {
    padding: 0 20px;
  }
}

@media screen and (min-width:1366px) {
  .semi-inn {
    width: 1000px;
  }
}
