<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="hello.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="mysite">
                    <match url="/*" />
                    <action type="Rewrite" url="hello.js" />
                </rule>
            </rules>
        </rewrite>
        <!-- Please uncomment the following line to monitor file changes in your application. -->
        <!-- <iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*;middleware\*.js;controllers\*.js;models\*.js" /> -->
    </system.webServer>
</configuration>